.brandy-editor-select {
	border-color: #E3E8EE !important;
	padding: 5px 12px !important;
	border-radius: 5px !important;
	margin-bottom: 0;
	outline: none;

	&:focus,
	&:focus-visible {
		outline: none;
		box-shadow: 0 0 1px #2271b1;
	}
}