.brandy-editor-select {
	border-color: #e3e8ee !important;
	padding: 5px 24px 5px 8px !important;
	border-radius: 5px !important;
	margin-bottom: 0;
	outline: none;
	font-size: 13px !important;
	width: 100%;

	&:focus,
	&:focus-visible {
		outline: none;
		box-shadow: 0 0 1px #2271b1;
	}
}
