.DS_Store
.vscode/launch.json
/build
*.xml

node_modules

yarn.lock
package-lock.json
inc/Packages/node_modules
inc/Packages/build
inc/Externals/node_modules
inc/Externals/build
vendor
release
composer.lock

tools/vendor
tools/composer.lock