.brandy-pricing-feature-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: var(--card-features-padding);

	.brandy-pricing-feature {
		display: flex;
		align-items: center;
		gap: 14px;

		&>div {
			display: flex;
		}

		&.checked-feature {
			color: var(--pricing-feature-checked-title-color);
			font-size: var(--pricing-feature-checked-font-size);
			font-family: var(--pricing-feature-checked-font-family);
			font-weight: var(--pricing-feature-checked-font-weight, var(--pricing-feature-checked-bold));
			text-align: var(--pricing-feature-checked-text-align, left);
			font-style: var(--pricing-feature-checked-font-styles);
			text-decoration: var(--pricing-feature-checked-decoration, auto);
			text-transform: var(--pricing-feature-checked-text-transform, auto);
			line-height: var(--pricing-feature-checked-line-height);
			letter-spacing: var(--pricing-feature-checked-letter-spacing);

			svg {
				*[stroke] {
					stroke: var(--pricing-feature-checked-icon-color);
				}

				*[fill] {

					fill: var(--pricing-feature-checked-icon-background-color);
				}
			}
		}

		&.unchecked-feature {
			color: var(--pricing-feature-unchecked-title-color);
			font-size: var(--pricing-feature-unchecked-font-size);
			font-family: var(--pricing-feature-unchecked-font-family);
			font-weight: var(--pricing-feature-unchecked-font-weight, var(--pricing-feature-unchecked-bold));
			text-align: var(--pricing-feature-unchecked-text-align, left);
			font-style: var(--pricing-feature-unchecked-font-styles);
			text-decoration: var(--pricing-feature-unchecked-decoration, auto);
			text-transform: var(--pricing-feature-unchecked-text-transform, auto);
			line-height: var(--pricing-feature-unchecked-line-height);
			letter-spacing: var(--pricing-feature-unchecked-letter-spacing);

			svg {
				*[stroke] {
					stroke: var(--pricing-feature-unchecked-icon-color);
				}

				*[fill] {

					fill: var(--pricing-feature-unchecked-icon-background-color);
				}
			}
		}

		p {
			margin: 0;
		}
	}
}