$accent: var(--accent, #377E62);
$primary_text_color: var(--primary_text, #272829);
$secondary_text_color: var(--secondary_text, #5A6D80);
$star_color: #FFAC70;

.brandy-block-feature-product-container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;

    gap: 4rem;

    * {
        box-sizing: border-box;
    }

    .brandy-block-feature-product__images {

        display: flex;
        gap: 10px;

        .brandy-block-product__image {
            max-width: 450px;
            height: fit-content;

            img {
                width: 100%;
                height: auto;
                border-radius: 5px;
            }
        }

    }

    .brandy-block-feature-product__details {

        flex: 1;
        min-width: min(100%, 310px);

        .brandy-block-feature-product__categories {
            color: $primary_text_color;

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        .brandy-block-feature-product__title {
            font-size: 1.5rem;
            color: $primary_text_color;
            font-weight: 600;

            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
                font-weight: inherit;
            }
        }

        .brandy-block-feature-product__pricing-area {

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;

            ins,
            bdi {
                color: $accent;
                font-size: 1.5rem;
                font-weight: 600;
            }

            del {
                color: $secondary_text_color;
                font-size: 1.125rem;
                font-weight: 300;

                bdi {
                    color: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    margin-left: 0;
                }
            }

            .brandy-blocks-feature-product__rating {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .brandy-feature-product-rating {
                    margin-right: 6px;
                    display: flex;
                    align-items: center;

                    .brandy-feature-product-star {
                        line-height: 1;
                        font-size: 1em;
                        font-family: star;

                        &::before {
                            content: '\73';
                            color: $star_color;
                        }

                        &.star-active::before {
                            content: '\53';
                        }

                    }
                }

                .brandy-feature-product-length-area {
                    color: $secondary_text_color;
                    margin-right: 1rem;
                }

                .brandy-feature-product-count-review-text {
                    color: $secondary_text_color;
                }
            }

        }

        form.cart,
        .add_to_cart_form {
            max-width: 500px;
            margin-top: 1rem;
        }

        .add_to_cart_form {
            margin-top: 30px;

            .brandy-quantity {
                background: transparent !important;
                border: 1px solid $secondary_text_color;

                .qty-minus,
                .qty-plus {
                    color: $secondary_text_color;
                }

                input.qty {
                    color: $primary_text_color;
                }
            }
        }

        .brandy-cart-actions {
            display: flex;
            gap: 28px;

            .add_to_cart_button {
                flex: 1;
                background-color: $accent;
                padding: 16px 80px;
                color: #ffffff;
                border-radius: 5px;
                font-size: 1em;
                font-weight: bold;
            }
        }

        table {
            margin-bottom: 25px;

            tbody {

                display: flex;
                flex-direction: column;
                gap: 20px;

                th,
                tr,
                td {
                    padding: 0 !important;
                    background-color: transparent !important;
                }
            }
        }

        .woocommerce-grouped-product-list {

            tbody {

                tr {
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }

            .woocommerce-grouped-product-list-item__price {
                margin-left: auto;

                del {
                    font-size: 0.875rem;
                }
            }
        }

        table.variations {

            tr {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            th {
                label {
                    display: block;
                    text-align: left;
                    margin-bottom: .5rem;
                    color: $primary_text_color;
                    font-weight: 500;
                    font-size: 1rem;
                }
            }

            select {
                width: 100%;
                border-radius: 5px;
                padding: .5rem 1rem;
            }

            .reset_variations[style="visibility: hidden;"] {
                display: none;
            }

            .reset_variations {
                display: block;
                margin-top: .5rem;
            }
        }

        .single_variation_wrap {
            .single_variation>* {
                margin-block-end: 1rem;
            }
        }

        .brandy-block-feature-product__product-info {
            margin-top: 30px;
            color: $primary_text_color;

            >*,
            .product-attributes>* {
                margin-block-end: 10px;
            }

            label {
                font-weight: 500;
                margin-right: 5px;
            }
        }
    }

    .brandy-block-feature-product__tags {
        display: flex;
        gap: 10px;

        .brandy-block-feature-product__tag-text {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $secondary_text_color;
            border-radius: 5px;
            color: $primary_text_color;
            padding: 12px;
            cursor: pointer;
            line-height: 0.6;
            min-width: 60px;

            &:hover {
                border-color: $primary_text_color;
            }
        }
    }

}