@mixin typography($prefix) {
	font-size: var(#{$prefix}-font-size);
	font-weight: var(#{$prefix}-font-weight, var(#{$prefix}-bold));
	font-style: var(#{$prefix}-font-styles);
	text-align: var(#{$prefix}-text-align, left);
	text-transform: var(#{$prefix}-text-transform, auto);
}

.brandy-pricing-card,
.editor-styles-wrapper .brandy-pricing-card {
	padding: var(--card-padding);
	border-radius: 10px;
	border: 3px solid var(--card-border-color-normal);
	background: var(--card-background-normal);
	box-shadow: var(--card-shadow);
	cursor: pointer;

	transition-property: box-shadow, border-color, background;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	&:hover {
		background: var(--card-background-hover);
		border-color: var(--card-border-color-hover);
	}

	&[is-highlighted="true"] {
		.brandy-pricing-card__highlight-badge {
			display: block;
		}
	}

	&__highlight-badge {
		display: none;
		width: fit-content;
		color: var(--card-highlight-badge-title-color);
		background: var(--card-highlight-badge-background-color);
		@include typography(--card-highlight-badge);
		padding: var(--card-highlight-badge-padding);
		border-radius: 5px;
		margin: var(--card-highlight-badge-margin);
	}

	&__title {
		display: var(--card-title-display);
		margin: auto;
		padding: var(--card-title-margin);
		color: var(--card-title-color);
		@include typography(--card-title);
	}

	&__pricing {
		display: var(--card-pricing-display);
		flex-direction: var(--card-pricing-flex-direction);
		align-items: var(--card-pricing-flex-align-items);
		margin: auto;
		padding: var(--card-pricing-margin);
		color: var(--card-pricing-price-color);
		@include typography(--card-pricing-price);

		sub,
		sup {
			color: var(--card-pricing-period-color);
			vertical-align: var(--card-pricing-period-position);
			@include typography(--card-pricing-period);
		}
	}

	&__description {
		display: var(--card-description-display);
		margin: auto;
		padding: var(--card-description-margin);
		color: var(--card-description-color);
		@include typography(--card-description);
	}

	&__button {
		--card-button-color: var(--card-button-color-normal);
		--card-button-background-color: var(--card-button-background-color-normal);
		--card-button-border-color: var(--card-button-border-color-normal);

		&:hover {
			--card-button-color: var(--card-button-color-hover);
			--card-button-background-color: var(--card-button-background-color-hover);
			--card-button-border-color: var(--card-button-border-color-hover);
		}

		width: var(--card-button-width);
		display: var(--card-button-display);
		margin: var(--card-button-margin);

		& > * {
			display: block;
			padding: var(--card-button-padding);
			color: var(--card-button-color) !important;
			text-decoration: none;
			& * {
				color: var(--card-button-color) !important;
			}
			border: 2px solid transparent;
			border-color: var(--card-button-border-color) !important;
			background-color: var(--card-button-background-color) !important;
			border-radius: var(--card-button-border-radius) !important;
			@include typography(--card-button);
			text-align: center;

			transition-property: color, background-color, border;
			transition-duration: 0.2s;
			transition-timing-function: ease-in-out;
		}
	}

	&__features-list {
		display: var(--card-features-display);
		flex-direction: column;
		gap: var(--card-features-item-spacing);
		padding: var(--card-features-margin);

		.brandy-pricing-feature {
			display: flex;
			align-items: center;
			gap: 14px;

			& > div {
				display: flex;
			}

			&.checked-feature {
				color: var(--pricing-feature-checked-title-color);
				@include typography(--pricing-feature-checked);

				svg {
					*[stroke] {
						stroke: var(--pricing-feature-checked-icon-color);
					}

					*[fill] {
						fill: var(--pricing-feature-checked-icon-background-color);
					}
				}
			}

			&.unchecked-feature {
				color: var(--pricing-feature-unchecked-title-color);
				@include typography(--pricing-feature-unchecked);

				svg {
					*[stroke] {
						stroke: var(--pricing-feature-unchecked-icon-color);
					}

					*[fill] {
						fill: var(--pricing-feature-unchecked-icon-background-color);
					}
				}
			}

			p {
				margin: 0;
			}
		}
	}
}

.brandy-pricing-wrapper[card-horizontal-alignment="center"] {
	.brandy-pricing-card {
		&__title,
		&__pricing,
		&__description {
			text-align: center !important;
		}

		&__highlight-badge,
		&__button {
			margin-left: auto;
			margin-right: auto;
		}

		.brandy-pricing-feature {
			justify-content: center;
		}
	}
}

.brandy-pricing-wrapper[card-horizontal-alignment="right"] {
	.brandy-pricing-card {
		&__title,
		&__pricing,
		&__description {
			text-align: right !important;
		}

		&__highlight-badge,
		&__button {
			margin-left: auto;
		}

		.brandy-pricing-feature {
			justify-content: flex-end;
		}
	}
}
