.brandy-testimonials-wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 0 10px;

	&[label-type="badge"] {
		.testimonials__rating {
			border-radius: var(--label-border-radius);
			width: fit-content;
		}
	}

	.brandy-testimonials {
		&__list,
		&__list .block-editor-block-list__layout {
			gap: var(--carousel-item-spacing, 50px);
			flex-wrap: nowrap !important;
			display: flex;
			position: relative;
			transition-property: transform;
			transition-timing-function: ease-in-out;
			transition-duration: var(--carousel-transition-speed, 500ms);
		}
	}

	&.brandy-carousel {
		overflow: hidden;
		position: relative;
		display: block !important;
		padding: 20px calc(var(--carousel-arrow-size) / 2 + 20px);
		--dots-margin-top: 25px;

		.carousel-arrow {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			z-index: 10;
			top: calc(50% - var(--carousel-dot-size));
			transform: translateY(calc(-50% + var(--carousel-dot-size) / 2 - var(--dots-margin-top) / 2));
			cursor: pointer;
			border-radius: 50px;
			background: var(--carousel-arrow-background-color);

			svg {
				width: var(--carousel-arrow-size);
				height: var(--carousel-arrow-size);

				[fill] {
					fill: var(--carousel-arrow-icon-color);
				}
			}

			&:hover {
				box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.03);
			}
		}

		.backward-arrow {
			left: 0;
		}

		.forward-arrow {
			right: 0;
		}

		.carousel-dots {
			position: relative;
			display: flex;
			justify-content: center;
			gap: var(--carousel-dot-spacing);
			align-items: center;
			margin-top: var(--dots-margin-top);

			.carousel-dot {
				width: var(--carousel-dot-size);
				height: var(--carousel-dot-size);
				border-radius: 50px;
				background: var(--carousel-dot-default-color);
				cursor: pointer;
				display: inline-block;
				transition-property: background, width;
				transition-duration: 0.2s;
				transition-timing-function: ease-in-out;

				&.current-slide {
					background: var(--carousel-dot-active-color);
					width: calc(var(--carousel-dot-size) * 2);
				}
			}
		}
	}

	.wp-block-missing {
		display: none;
	}
}

.brandy-editor {
	.testimonial-sort {
		&__list {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		&__item {
			padding: 10px;
			border-radius: 7px;
			background: #fff;
			border: 1px solid #e7e8e9;
			box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.03);
			cursor: grab;
			display: flex;
			align-items: center;
			gap: 15px;

			img {
				width: 50px;
				height: 50px;
				border-radius: 50px;
			}
		}
	}

	.item-block-drag-handler {
		padding: 5px;
		display: flex;
		align-items: center;
		cursor: grab;
	}
}
