.brandy-testimonials-wrapper {
	&[content-alignment="center"] {
		.brandy-testimonials__card {
			&__name,
			&__subname,
			&__content {
				text-align: center;
			}

			&__avatar,
			&__rating {
				margin-left: auto !important;
				margin-right: auto !important;
			}
		}
	}

	&[content-alignment="right"] {
		.brandy-testimonials__card {
			&__name,
			&__subname,
			&__content {
				text-align: right;
			}

			&__avatar,
			&__rating {
				margin-left: auto !important;
			}
		}
	}
}

.brandy-testimonials__card {
	padding: 30px;
	border-radius: 12px;
	border: 1px solid #e7e8e9;
	box-shadow: var(--card-shadow, 0px 0px 0px 0px #ffffff);
	background: #fff;
	transition: transform ease-in-out 0.2s;

	&:hover {
		transform: scale(1.03);
	}

	&__name {
		display: var(--name-visible);
		line-height: 24px;
		margin: var(--name-margin, 0) !important;
		color: var(--name-color);
		font-size: var(--name-font-size);
		font-weight: var(--name-font-weight, var(--name-bold));
		font-style: var(--name-font-styles);
		text-transform: var(--name-text-transform, auto);
	}

	&__avatar {
		display: var(--avatar-visible);
		width: var(--avatar-size);
		height: var(--avatar-size);
		border-radius: var(--avatar-border-radius);
		overflow: hidden;
		margin: var(--avatar-margin, 0) !important;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__subname {
		display: var(--subname-visible);
		line-height: 24px;
		margin: var(--subname-margin, 0) !important;
		color: var(--subname-color);
		font-size: var(--subname-font-size);
		font-weight: var(--subname-font-weight, var(--subname-bold));
		font-style: var(--subname-font-styles);
		text-transform: var(--subname-text-transform, auto);
	}

	&__content {
		display: var(--content-visible);
		margin: var(--content-margin, 0) !important;
		color: var(--content-color);
		font-size: var(--content-font-size);
		font-weight: var(--content-font-weight, var(--content-bold));
		font-style: var(--content-font-styles);
		text-transform: var(--content-text-transform, auto);
	}

	&__rating {
		display: var(--rating-visible);
		gap: var(--testimonial-star-spacing, 6px);
		width: fit-content;
		flex-wrap: wrap;
		margin: var(--testimonial-star-margin, 0px) !important;

		&-star {
			display: flex;
			width: var(--testimonial-star-size, 10px);
			height: var(--testimonial-star-size, 10px);
			--star-color: var(--testimonial-star-active-color);
		}

		svg {
			width: 100%;
			height: 100%;
			fill: var(--star-color);
		}
	}

	&[data-rating="4"] {
		.brandy-testimonials__card__rating-star:nth-child(n + 5) {
			--star-color: var(--testimonial-star-default-color);
		}
	}

	&[data-rating="3"] {
		.brandy-testimonials__card__rating-star:nth-child(n + 4) {
			--star-color: var(--testimonial-star-default-color);
		}
	}

	&[data-rating="2"] {
		.brandy-testimonials__card__rating-star:nth-child(n + 3) {
			--star-color: var(--testimonial-star-default-color);
		}
	}

	&[data-rating="1"] {
		.brandy-testimonials__card__rating-star:nth-child(n + 2) {
			--star-color: var(--testimonial-star-default-color);
		}
	}

	&[data-rating="0"] {
		.brandy-testimonials__card__rating-star:nth-child(n + 1) {
			--star-color: var(--testimonial-star-default-color);
		}
	}
}

.brandy-horizontal-wrapper{
	.brandy-testimonials__list {
		display: flex;
		.brand-testimonials__card__header{
			flex: 1;
			display: flex;
    		align-items: center;
			.brand-testimonials__card__info{
				padding-left: 5px;
			}
			
		}
	}
}
.brandy-testimonials-wrapper.brandy-horizontal-wrapper[content-alignment=right] {
	.brandy-testimonials__card__avatar {
		margin-left: unset !important;
	}
	.brand-testimonials__card__header{
		flex-direction: row-reverse;
		.brand-testimonials__card__info{
			padding-left: 0px;
			padding-right: 5px;
		}
	}
}

.brandy-testimonials-wrapper.brandy-horizontal-wrapper[content-alignment=center] {
	
	.brandy-testimonials__card__avatar {
		margin-left: unset !important;
		margin-right: unset !important;
	}

	.brand-testimonials__card__header{
		margin-left: 131px; // card wrapper: 530px & padding left& right : 60px, card header: 468px , avatar: 80px => center: ( 530 - (568-80) ) / 2 = 71 + 60 
	}
	
}
