@import "../../assets/tailwind.mixins";
@import "../../assets/utility.mixins.scss";

.relative-blogs.brandy-blocks {

	.relative-blogs__list {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(4, 1fr);

		@include md() {
			grid-template-columns: repeat(3, 1fr);
			gap: 1rem;
		}

		@include sm() {
			grid-template-columns: 1fr;
		}

	}

	.relative-blogs__item__link {
		overflow: hidden;
		display: flex;
		border-radius: 12px;
		margin-bottom: 1rem;
	}

	.relative-blogs__item__image {
		width: 100%;
		height: auto;
		border-radius: 12px;
		transition: transform 0.5s;
		aspect-ratio: 1.5;
		object-fit: cover;

		&:hover {
			transform: scale(1.2);
		}
	}

	.relative-blogs__content {
		text-align: center;
	}

	.relative-blogs__post-date {
		color: var(--secondary_text, rgb(90 109 128)) !important;
		@include text-sm();
		font-weight: 300 !important;
		display: block;
		text-align: center;
		margin-bottom: 4px !important;
	}

	.relative-blogs__post-title {
		@include text-ellipsis(2);
		@include text-lg();
		font-weight: 600;
		color: var(--primary_text, #122940) !important;
	}

	.relative-blogs__detail-link {
		color: inherit;
		text-decoration: none !important;
		@include text-underline-animation();

		&:hover {
			color: inherit;
		}
	}
}