.brandy-pricing-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;

	.brandy-pricing-list,
	.brandy-pricing-list .block-editor-block-list__layout {
		display: flex;
		justify-content: center !important;
		align-items: flex-end !important;
		flex-wrap: wrap !important;
		gap: var(--card-spacing);
		width: 100%;

		.brandy-pricing-card {
			min-width: 300px;
			flex: 1;
			max-width: fit-content;
		}
	}

	.wp-block-missing {
		display: none;
	}
}
