.brandy-collapse-menu.styles-card {
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
	margin: 10px 0;
	border: none !important;

	&.collapse-open {
		& > .brandy-collapse-menu__header {
			color: #000729;
			font-weight: 600;
			border-bottom: 1px solid #f0f2f4;

			svg {
				*[fill] {
					fill: #000729;
				}

				*[stroke] {
					stroke: #000729;
				}
			}
		}
	}

	.brandy-collapse-menu__header {
		text-transform: uppercase;
		font-weight: 400;
		color: #5a6d80;
		font-size: 12px;
	}

	.brandy-collapse-menu__content {
		background: #fff;
		padding: 20px 14px;

		& > div {
			padding: 20px 0;
			border-bottom: 1px solid #f0f2f4;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}
}
